<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="jumbotron text-center">
    <h1 class="display-4">Sayli Katre</h1>
    <h3>Fashion Model</h3>
    <div class="social-icons">
        <a href="https://www.instagram.com/saylikatre" target="_blank" class="social-icon">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/saylikatre.7?mibextid=LQQJ4d" target="_blank" class="social-icon">
            <i class="fab fa-facebook-f"></i>
        </a>
    </div>
</div>
