<div class="container">
    <div class="text-center border mb-5 shadow rounded p-4 contact-header">
      <h1>Contact</h1>
      <p>I can be reached at the following email: <b>katresayli2000&#64;gmail.com</b></p>
      <p>Feel free to connect with me on any of the following platforms:</p>
    </div>
  
    <div class="social-icons d-flex justify-content-center mt-4">
      <a href="https://www.linkedin.com/in/sayli-katre-726169210" target="_blank" class="btn btn-social mx-2 linkedin-btn">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://www.facebook.com/saylikatre.7?mibextid=LQQJ4d" target="_blank" class="btn btn-social mx-2 github-btn">
        <i class="fab fa-facebook-f"></i> Facebook
      </a>
      <a href="https://www.instagram.com/saylikatre" target="_blank" class="btn btn-social mx-2 instagram-btn">
        <i class="fab fa-instagram"></i> Instagram
      </a>
    </div>
  </div>
  