<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom mb-3">
    <div class="container">
      <!-- <a class="navbar-brand" routerLink="/home"></a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  
<!-- <nav> -->
  <!-- <a routerLink="/home">Home</a> |
  <a routerLink="/portfolio">Portfolio</a> |
  <a routerLink="/contact">Contact</a>
</nav> -->